{% extends 'athletix/base.html' %}
{% load static %}

{% block content %}
<h1 class="text-center athletix-red-text athletix-official-font mt-4">About</h1>
<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<h5 class="border-top text-center atletix-blue-text py-4">Meet The Team</h5>
<div class="row">
    <!-- Team Member 1 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/coach.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Academy Head</h5>
          <div class="card-text text-black-50">Yashwant Parab</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/coach.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Head Coach</h5>
          <div class="card-text text-black-50">Anurag Ranaware</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/coach.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Coach</h5>
          <div class="card-text text-black-50">Dipesh Morye</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/coach.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Coach</h5>
          <div class="card-text text-black-50">John Doe</div>
        </div>
      </div>
    </div>
    <!-- Team Member 5 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/programmer.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Technical Lead</h5>
          <div class="card-text text-black-50">Deepesh Parab</div>
        </div>
      </div>
    </div>
    <!-- Team Member 6 -->
    <div class="col-6 col-md-4 mb-4">
      <div class="card border-0 shadow">
        <img src="{% static 'images/customer_service.png' %}" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Customer Service</h5>
          <div class="card-text text-black-50">John Doe</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}