{% extends 'athletix/base.html' %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}

<div class="row mt-2">
    <div class="col-md-10">
        <div class="row py-2 mb-3">
            <div class="col-3">
                <img class="profile-picture-square img img-thumbnail" src="{{posts.0.author.profile.image.url}}">
            </div>
            <div class="col-9">
                <h2>{{posts.0.author.first_name}} {{posts.0.author.last_name}}</h2>
                <h5>Email: <small>{{posts.0.author.email}}</small></h5>
                <h5>Posts: <small>{{posts.paginator.count}}</small></h5>
            </div>
        </div>
        <hr>

    <!---------------------------------------- Pagination Top Section Start ------------------------------------------->
    <div class="row mx-1">
        <div class="col-md-6 pl-0 mb-2">
            <b>Recent Posts
                {% if posts.paginator.count > 0 %}
                <small class="font-bold">
                    ({{ first_item_number }}
                    -
                    {% if page_size|mul:posts.number > posts.paginator.count %}
                    {{ posts.paginator.count }}
                    {% else %}
                    {{ page_size|mul:posts.number }}
                    {% endif %}
                    of
                    {{ posts.paginator.count }})
                </small>
                {% endif %}
            </b>
        </div>

        <div class="col-md-6 pr-0">
            <nav class="float-right">
                {% if posts.paginator.count > page_size and posts.paginator.count > 0 %}
                <!---------------- Pagination Start ----------------------->
                <ul class="pagination pagination-sm">
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page=1">
                            <i class="fa fa-angle-double-left font-bold"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.previous_page_number }}"
                           tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    <!-------------------------- Page Number Start --------------------------->
                    {% for page in posts.paginator.page_range %}
                    {% if page == posts.number %}
                    <li class="page-item disabled">
                        <a class="page-link text-dark bg-custom font-bold" href="#">
                            {{ page }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link text-dark" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <!-------------------------- Page Number End ------------------------------>

                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.next_page_number }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right font-bold"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <!---------------- Pagination End ----------------------->

            </nav>
        </div>
    </div>
    <!---------------------------------------- Pagination Top Section End ------------------------------------------->


    {% if posts.paginator.count > 0 %}
    {% for post in posts %}
        <div class="row bg-white border border-muted p-3 mb-2 mx-1">
            <div class="col-md-1 mt-1 mb-4">
                {% if user.profile.image %}
                <img src="{{ post.author.profile.image.url }}" class="img img-responsive comment-section-user-icon">
                {% else %}
                <span class="user-icon-text text-dark text-uppercase pt-2">{{ post.author.username|make_list|first}}</span>
                {% endif %}
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-md-9">
                        <h4><a href="{% url 'blog-detail-page' post.id %}" class="no-text-decoration text-dark">{{post.title}}</a></h4>
                        <span class="fa fa-clock-o mr-1"></span>
                        <small>
                            <i>Posted by <b><a href="#" class="no-text-decoration text-dark">{{post.author}}</a></b> on {{post.posted_on | date:'M d, Y'}}</i>
                        </small>
                    </div>

                    <div class="col-md-3 pl-0">
                        <div class="row mt-2 d-flex justify-content-end">
                            <div class="pl-0 mb-2 mr-3">
                                <span class="fa fa-thumbs-up text-success" title="Like"></span>
                                <b class="font-small">{{ post.likes.count }}</b>
                            </div>
                            <div class="pl-0 mb-2 mr-3">
                                <span class="fa fa-thumbs-down text-danger" title="Disike"></span>
                                <b class="font-small">{{ post.dislikes.count }}</b>
                            </div>
                            <div class="pl-0 mb-2 mr-3">
                                <span class="fa fa-comment text-info" title="Disike"></span>
                                <b class="font-small">{{ post.comments }}</b>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-justify">{{ post.content|safe|truncatewords:"50" }}
                            {% if post.content|length > 50 %}
                                <a href="{% url 'blog-detail-page' post.id %}" class="no-text-decoration">read more</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="row bg-white border border-muted p-3 mb-2">
            <div class="col text-center no-products">
                <h1>No Posts Available</h1>
            </div>
        </div>
        {% endif %}

    <!---------------------------------------- Pagination Bottom Section Start ------------------------------------------->
    <div class="row mx-1 pt-2">
        <div class="col-md-12 pr-0">
            <nav class="float-right">
                {% if posts.paginator.count > page_size and posts.paginator.count > 0 %}
                <!---------------- Pagination Start ----------------------->
                <ul class="pagination pagination-sm">
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page=1">
                            <i class="fa fa-angle-double-left font-bold"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.previous_page_number }}"
                           tabindex="-1">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                    {% endif %}

                    <!-------------------------- Page Number Start --------------------------->
                    {% for page in posts.paginator.page_range %}
                    {% if page == posts.number %}
                    <li class="page-item disabled">
                        <a class="page-link text-dark bg-custom font-bold" href="#">
                            {{ page }}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item"><a class="page-link text-dark" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}
                    <!-------------------------- Page Number End ------------------------------>

                    {% if posts.has_next %}
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.next_page_number }}">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link text-dark" href="?page={{ posts.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right font-bold"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <!---------------- Pagination End ----------------------->

            </nav>
        </div>
    </div>
    <!---------------------------------------- Pagination Top Section End ------------------------------------------->
    </div>

    <div class="col-md-2">
        <div class="bg-white border border-mute p-2">
            <h5 class="mb-2 font-bold">Post Filter</h5>
            <hr class="mb-0">
            <small class="font-bold">Sort By</small>
            <select class="form form-control mb-4">
                <option value="">All</option>
                <option value="">This Week</option>
                <option value="">This Month</option>
                <option value="">Likes</option>
            </select>

            <div>
                <form method="get" class="form" id="search-filter">
                    {{ search_filter.form|crispy }}
                    <button class="btn btn-primary btn-sm" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}