{% extends 'athletix/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-12 mb-2">
            <div class="bg-white border border-mute p-2">
                <div class="row">
                    <div class="col-12">
                        <div class="row my-2">
                            <div class="col-9">
                                <h2 class="athletix-official-font">Teams</h2>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-success float-right">Export</button>
                            </div>
                        </div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="myStatsTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active athletix-red-text" id="u10-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">Under 10</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="u12-tab" data-toggle="tab" href="#u12" role="tab"
                                   aria-controls="profile" aria-selected="false">Under 12</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="u14-tab" data-toggle="tab" href="#u14" role="tab"
                                   aria-controls="profile" aria-selected="false">Under 14</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="u16-tab" data-toggle="tab" href="#u16" role="tab"
                                   aria-controls="profile" aria-selected="false">Under 16</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="u19-tab" data-toggle="tab" href="#u19" role="tab"
                                   aria-controls="profile" aria-selected="false">Under 19</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="u23-tab" data-toggle="tab" href="#u23" role="tab"
                                   aria-controls="profile" aria-selected="false">Under 23</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link athletix-red-text" id="seniors-tab" data-toggle="tab" href="#seniors" role="tab"
                                   aria-controls="profile" aria-selected="false">Seniors</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 10 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 10 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 10 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="u12" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 12 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 12 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 12 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="u14" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 14 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 14 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 14 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="u16" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 16 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 16 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 16 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="u19" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 19 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 19 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 19 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="u23" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 23 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 23 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge <= 23 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--------------------------------------------------------------------------------------------->
                            <div class="tab-pane fade" id="seniors" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row p-4">
                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Playing 11
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge > 23 and team.position == 'pl11' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Substitutes
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge > 23 and team.position == 'sub' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <h2 class="athletix-quote">
                                            Probables
                                        </h2>
                                        <div class="team-sheet pl-4 small">
                                            {% for team in team_list %}
                                            {% if team.player.profile.getAge > 23 and team.position == 'prob' %}
                                            <p>{{ team.player.first_name }} {{ team.player.last_name }}</p>
                                            {% endif %}
                                            {% empty %}
                                            <p>No players in this team</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}